.node-container{
	display: flex;
	justify-content: space-evenly;
	
	margin: 10px;
}

.node{
	border: 1px solid black;
	padding: 10px;
	
	/*font-family: monospace;*/
	border-radius: 50%;
}

.buttons{
	position: fixed;
	background-color: red;
}

